header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: absolute;
	top: 0;
	width: 55px;
	height: 100%;
	min-height: 400px;
	z-index: 3;
	background: #181818;
	/*cursor: pointer;*/
}

header > div.logo {
	display: block;
	padding: 5px 0 0;
}

header > div.logo > .logo_img {
	animation: App-logo-spin infinite 15s ease-in-out;
	position: relative;
	margin: 0 auto;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(360deg);

}

header > div.logo > .logo_img > .o_letter {
	position: absolute;
	font-size: 50px;
	font-family: LogoImg, sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0 10px #08fdd859;
	color: #949292;
}

header > div.logo > .logo_img > .m_letter {
	position: absolute;
	font-size: 24px;
	font-family: LogoImg, sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 4px;
	text-shadow: .3px .3px rgba(148, 146, 146, 0.2),
	.6px .6px rgba(148, 146, 146, 0.2),
	.9px .9px rgba(148, 146, 146, 0.2),
	1.2px 1.2px rgba(148, 146, 146, 0.2),
	1.5px 1.5px rgba(148, 146, 146, 0.2),
	1.8px 1.8px rgba(148, 146, 146, 0.2);
	color: #949292;
	transform: rotate(15deg);
}

header > div.logo > span {
	display: block;
	margin: 0 auto 5px;
	font-size: 18px;
	height: auto;
	color: #949292;
	text-align: center;
	font-family: myLogo, sans-serif;
	text-shadow: 0 0 1px #08fdd88c;
}

@keyframes App-logo-spin {
	0% {
		transform: rotate(0deg);
	}
	2% {
		transform: rotate(10deg);
	}
	6% {
		transform: rotate(-35deg);
	}
	8% {
		transform: rotate(360deg);
	}
	/*
		15% {
			transform: rotate(360deg);
		}*/
}

header > div.main_buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	width: 100%;
	height: 300px;
}

.main_buttons a {
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	/*cursor: pointer;*/
	color: #4d4d4e;
	height: 100%;
	justify-content: center;
	background: #181818;
	width: 55px;
	transition: 0.3s;
}

.main_buttons a:hover {
	width: 65px;
}

.fa-user, .fa-home, .fa-cog, .fa-eye, .fa-envelope {
	text-transform: uppercase;
	font-size: 22px;
	display: block;
	line-height: 51px;
	margin: 0 auto;
	height: 20px;
	position: relative;
	text-decoration: none;
	/*cursor: pointer;*/
}

.main_buttons a span {
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 8px;
	padding: 0;
	margin: 3px auto 0;
	opacity: 0;
}

.main_buttons a:hover, .main_buttons a:hover span {
	opacity: 1;
	color: #08fdd8;
	transition: 0.5s;
	text-decoration: none;
}

.social_buttons a:hover > .fa-telegram-plane,
.social_buttons a:hover > .fa-facebook-f,
.social_buttons a:hover > .fa-instagram ,
.active > .fa-user,
.active > .fa-home,
.active > .fa-cog,
.active > .fa-eye,
.active > .fa-envelope {
	color: #08fdd8;
}

header > div.social_buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	text-align: center;
	width: 100%;
}

.fa-telegram-plane, .fa-facebook-f, .fa-instagram {
	display: block;
	padding: 5px 0;
	margin: 0 auto;
	height: 30px;
	font-size: 15px;
	line-height: 16px;
	/*cursor: pointer;*/
	transition: 0.5s;
	color: #4d4d4e;
}
