.skills_content {
  height: 90%;
  top: 5%;
  left: 55px;
  min-height: 566px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width: calc(100% - 55px);

  .text_h1 {
    color: #08fdd8;
  }

  > .skills_main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .left_side {
      margin-left: 6%;
      width: 35%;
      vertical-align: middle;
      display: block;
      max-height: 90%;

      .left_side_text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
        font-family: monospace, sans-serif;
        margin: 12px 0;
      }
      .left_side_link {
        color: #08fdd8;
        &:hover {
          text-decoration: none;
        }
      }
    }

    > .right_side {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /*noinspection CssUnusedSymbol*/
    > .tags_cloud div.sphere-tags {
      display: none;
      font-family: monospace, sans-serif;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .skills_content {
    left: 0;
    top: 70px;
    min-height: 810px;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    > .skills_main {
      height: 100%;
      top: 70px;
      width: 100%;
      flex-direction: column;
      > .left_side {
        width: 90%;
        margin-left: 10%;
        p {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 19px;
        }
      }

      > .right_side {
        width: 90%;
        overflow: auto;
        margin: 0;
        min-height: 115px;
        canvas {
          width: 100%;
          height: 100%;
        }
      }
      > .tags_cloud div.sphere-tags {
        display: none;
        font-family: monospace, sans-serif;
      }
    }
  }
}

@media only screen and (min-width: 481px /*768px*/
) and (max-width: 1024px) {
  .skills_content {
    left: 0;
    top: 70px;
    min-height: 810px;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    > .skills_main {
      height: 100%;
      top: 70px;
      width: 100%;
      flex-direction: column;
      > .left_side {
        width: 90%;
        margin-left: 10%;
        p {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 19px;
        }
      }

      > .right_side {
        width: 100%;
        overflow: auto;
        margin: 0;
        min-height: 115px;
        .tags_cloud {
          width: 95%;
        }
        canvas {
          width: 100%;
          height: 100%;
        }
      }
      > .tags_cloud div.sphere-tags {
        display: none;
        font-family: monospace, sans-serif;
      }

    }
  }
}

@media only screen and (min-width: 1224px) {

}

@media only screen and (min-width: 1824px) {

}