.skills_content {
  height: 90%;
  top: 5%;
  left: 55px;
  min-height: 566px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width: calc(100% - 55px);

  .text_h1 {
    color: #08fdd8;
  }

  > .skills_main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .left_side {
      margin-left: 6%;
      width: 35%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;

      p {
        font-size: 12px;
        line-height: 18px;
        color: #ffffff;
        font-family: monospace, sans-serif;
      }
    }

    > .right_side {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /*noinspection CssUnusedSymbol*/
    > .tags_cloud div.sphere-tags {
      display: none;
      font-family: monospace, sans-serif;
    }
  }
}